@import "tailwindcss";

/* Konfigurasi Warna & Font bawaan SIGAP */
@theme {
  --color-primary: #002b73;
  --color-primary-container: #0056D2;
  --color-on-primary-container: #98b3ff;
  --color-secondary: #1b6d24;
  --color-secondary-container: #a0f499;
  --color-on-secondary-container: #207128;
  --color-tertiary: #6c5e00;
  --color-tertiary-container: #beac4e;
  --color-on-tertiary-container: #4a4000;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --color-background: #f8f9fa;
  --color-on-background: #191c1d;
  --color-surface: #f8f9fa;
  --color-on-surface: #191c1d;
  --color-surface-variant: #e1e3e4;
  --color-on-surface-variant: #40484B;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #F3F4F5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  
  --color-outline: #747784;
  --color-outline-variant: rgba(191, 200, 204, 0.2);

  --font-body-md: "Inter", sans-serif;
  --font-headline-md: "Public Sans", sans-serif;
  --font-headline-lg: "Public Sans", sans-serif;
  --font-label-sm: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-label-lg: "Inter", sans-serif;
}

@layer utilities {
  .gradient-btn { background: linear-gradient(135deg, #002b73, #0056D2); }
  .pulsing-dot { animation: pulse 2s infinite; }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes pulse {
  0% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(27, 109, 36, 0.7); }
  70% { transform: scale(1); box-shadow: 0 0 0 6px rgba(27, 109, 36, 0); }
  100% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(27, 109, 36, 0); }
}